$p-clr-1: #212529;
$p-clr-2: #9DABC1;
$a-clr-1: #0D6EFD;

@font-face {
    font-family: 'Chillax';
    src: url('../fonts/Chillax-Variable.ttf');
}

body {
    font-family: 'Chillax' !important;
}

.login {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%; 
    background-color: #F9FAFC;

    &__container {
        width: 40%;
    }

    &__intro {
        padding: 10px;
    }

    &__title {
        padding-top: 5px;
        font-weight: 600;
    }

    &__subtitle {
        font-weight: 600;
    }

    &__text {
    }

    &__form {
        padding-top: 5px;
        border-radius: 20px;
        margin: auto;

        & label {
            font-weight: 600;
        }

        & input[name=username] {

            ::placeholder {
                
            }
        }
    }

    &__register {
        padding-top: 15px;
        font-weight: 500;
    }

    &__link {
        text-decoration: none;
        font-weight: 600;
    }
}