@import "../bootstrap-5.3.3/scss/bootstrap.scss";

$p-clr-1: #212529;
$p-clr-2: #adb5bd;
$a-clr-1: #0D6EFD;
$bg-clr: #F9FAFC;
$a-clr-2: #583DA1;

@font-face {
    font-family: 'Chillax';
    src: url('../fonts/Chillax-Variable.ttf');
}

body {
    font-family: 'Chillax' !important;
    font-size: smaller !important;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: $bg-clr;

    &__container {
        width: 50%;
        margin-inline: 20px;
    }

    &__content {
        margin: 0 auto;
        width: 60%;
        min-width: 320px;
    }

    &__intro {
        padding: 10px;
    }

    &__title {
        padding-top: 5px;
        font-weight: 600;
    }

    &__subtitle {
        font-weight: 600;
    }

    &__form {
        padding-top: 5px;
        border-radius: 20px;
        margin: auto;
    }

    &__register {
        padding-top: 15px;
        font-weight: 500;
    }

    &__link {
        text-decoration: none;
        font-weight: 600;
    }

    &__image {
        flex-shrink: 1;
        margin-right: 15px;
        background-image: url('../images/space.jpg');
        height: 95%;
        width: 50%;
        background-size: cover;
        background-repeat: repeat;
    }

    @media screen and (max-width: 700px) {

        & {
            justify-content: center;
        }

        &__container {
            width: 80%;
        }

        &__content {
            width: 90%;
        }

        &__image {
            display: none;
        }
    }
}

.form-group {
    
    & label {
        font-weight: 600;
    }

    & input::placeholder {
        color: $p-clr-2;
        font-size: smaller;
    }

    & .invalid-feedback {
        margin-bottom: 0;
    }
}

.active {
    background-color: $a-clr-2 !important;
    color: white !important;
}