{% extends "base.html" %} {% load static %}

{% block content %}
<div class="box3">
    <p>Uploaded files</p>
</div>
<div class="maincontainer">
    {% for file in files %}
    <div class="card mb-4 w-50">
        <div class="card-body">
            <p> <h3>Filename: <span  class="fs-5 text-secondary" >{{file.file_name}}</span></h3> </p>
            
                <a href="{% url "download_file" file_id=file.id %}" class="btn btn-primary" >
                    Download
                </a>  
                
                <a href="{% url "delete_file" file_id=file.id %}" class="btn btn-warning" >
                    Delete
                </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}

