{% extends "base.html" %} {% load static %}

{% block title %}Upload Files{% endblock title %}

{% block content %}
<div class="container w-75">
  <div class="card text-center mt-4">
    <div class="card-body" style="padding: 0%;">
      <div class="card-header">UPLOAD FILES</div>
      <img src="{% static 'images/cloud-upload.svg' %}" width="50" height="50" class="card-image-top">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container w-50">{{form}}</div>
        <button type="submit" value="Submit" class="btn btn-outline-dark mt-1 mb-1">Submit</button>
      </form>
      <button type="button" class="btn btn-secondary position-absolute bottom-0 end-0"
        data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-title="The storage quota assigned to you and how much of it you have currently used">
          {{mb_used}} MB / 100 MB Used
      </button>
    </div>
  </div>
</div>
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock content %}