{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="box1"> 
        <h4>UPLOAD FILES</h4>
      </div>
      <div class="box2">
        <img src="{% static 'images/cloud-upload.svg' %}" width="50" height="50">
        <input type="file" class="input-button" accept="*" style="display: inline;">
        <button>Submit</button>
      </div>
      <div class="box3">
        <p>Uploaded files</p>
      </div>
    </div>
  </body>
</html>