body {
    all:initial;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    justify-content: start; /* Center horizontally */
    height: 100dvh;
    color: #BFDBFE;
    margin: auto;
}

.messages{
    margin: 0%;
    padding: 0%;
}

.alert-success { 
    display: flex;
    margin: 0%;
    color: #eeeeee;
    width: 100dvw;
    font-size: 0.8125rem;
    font-weight: 400;
    height: 39px;
    align-items: center;
    text-indent: 60px;
    background: #006B1B url(../images/icon-yes.svg) 40px 12px no-repeat;
}

.maincontainer {
    background-color: #374151;
    width: 25rem;
    height: 30rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    margin-top: 50px;
}

.box1{
    width: 13rem;
    height: 2.5rem;
    min-height: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: small;
}

.box2{
    width: 22rem;
    height: 10rem;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(31,41,55, .35);
    border-color: #6886C5;
}

.box3 {
    text-align: start;
}

.fileform{
    border-radius: 2.5px;
    border: 2px;
    width: 75%;
    color: whitesmoke;
}

.formsubmit{
    transition: all 0.2 ease;
}

.formsubmit:active{
    transform: scale(0.96);
}

.card-body {
    width: 100%;
    padding: 0%;
}