body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100dvh;
    color: #BFDBFE;
    margin: auto;
}

.nav-bar { /* New selector for better styling control */
    background-color: #374151; /* Inherit from container for consistency */
    padding: 1rem; /* Add padding for visual clarity */
    text-align: center;
    width: 100dvw;
    background: rgb(12, 169, 12);
}

.container {
    /* background: #374151; */
    background-color: #374151;
    width: 25rem;
    height: 30rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}

.box1{
    width: 13rem;
    height: 2.5rem;
    min-height: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: small;
}

.box2{
    width: 22rem;
    height: 10rem;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(31,41,55, .35);
    border-color: #6886C5;
}

.fileform{
    border-radius: 2.5px;
    border: 2px;
    width: 75%;
    color: whitesmoke;
}

.box3{
    width: 22rem;
    height: 12rem;
}

.box3 p{
    text-align: left;
    font-size: small;
}

.alert-success{
    all: initial;
}

.message-alerts{
    margin-top: 0%;
}