{% load crispy_forms_tags %}

<div class="login__content" id="login__content">
    <h5 class="login__title text-dark"><i class="fa-solid fa-hands-holding-child"></i> Fileshare WA</h5>
    <hr>
    <h5 class="login__subtitle">Login</h5>
    <p class="text-secondary" style="font-weight: 500">Enter your details below to login</p>
    <form method="POST" class="login__form form-group">
        {% csrf_token %}
        {{form | crispy}}
        <button class="btn btn-dark w-100">Login</button>
    </form>
    <p class="login__register text-secondary">Don't have an account? 
        <a href="{% url "register" %}" hx-get="{% url "register" %}" hx-target="#login__content" hx-push-url="true" class="login__link text-dark">Register Here</a>
    </p>
    <hr class="w-100">
    <p class="text-secondary w-100">© Fileshare WA</p>
</div>