{% extends "base.html" %}{% load crispy_forms_tags %}

{% block title %}Create Account{% endblock title %}

{% block nav %}
<nav class="navbar bg-dark navbar-dark">
    <div class="container">
        <a href="#" class="navbar-brand">Fileshare Webapp</a>
</nav> 
{% endblock nav %}

{% block content %}
<div class="container mt-4">
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form | crispy}}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
{% endblock content %}